:root {
    --primary-color: rgb(126, 26, 26);
    --secondary-color: #6f42c1;
    --white-color: #FFF;
    --black-color: #000;
    --red-color: #990000;
    --light-gray-color: #EEE;
    --dark-gray-color: #666;
    --link-blue-color: rgb(30, 144, 255);
}

a {
    text-decoration: none;
    color: inherit;
}

.kimono-bg {
    background: var(--light-gray-color) url(../img/fundo-background.jpg) repeat;
    height: 100vh;
}

.schedule-bg {
    background: var(--light-gray-color) url(../img/horario.png);

}

.banner-bg {
    background: var(--secondary-color);
    position: relative;
}

.section-container {
    height: 100vh;
}

.carousel {
    position: relative;
    z-index: 0;
}

.carousel-item img {
    width: 100%;
    height: 600px; 
    object-fit: cover; /* Garante que a imagem cubra todo o espaço do carousel */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.container-overlay {
    height: 100%;
    display: flex;
}

.banner-logo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.banner-title h1 {
    color: var(--white-color);
    font-family: 'Alfa Slab One', display;
    font-size: 90px;
    text-shadow: 0 0 5px black;
}

.title-dojo {
    display: flex;
    align-items:flex-end;
}

.title-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-logo img {
    height: 250px;
}

.nowrap {
    white-space: nowrap;
}

.row-days {
    color: var(--white-color);
}